.count-match-wrapper
	margin 20px
	h2
		text-align center
	.additional-surcharges
		.table
			width 70%
			margin 1% 15%
			.data
				.row-item
					input
						border none
						background-color transparent
	i
		cursor pointer