.create-match-wrapper
	.users-wrapper
		margin 10px
	.btns-wrapper
		margin 10px
		display flex
		flex-direction row
		.default-btn
			flex 0 0 150px
			&:not(:first-child)
				margin-left 10px
	.controls-wrapper
		margin 10px
		input[type="number"]
			width 150px
	.teams-data-wrapper
		display flex
		flex-direction row
		margin 10px
		.team-item
			flex 1 0 0
			p
				margin-left 30px
				font-weight 900
				font-size large
			.player
				margin-left 10px